doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
        title Staff Directory
        style. 
            table.ui.celled img { display: inline-block; }
            footer { margin: 35px 0 15px 0; text-align: center; }
    body
        main#main 
        h1.ui.center.aligned.header Staff Directory
        .ui.container

            block add-worker
            block content

        block footer
            